 Auto detect text files and perform LF normalization
* text=auto
lib/** filter=lfs diff=lfs merge=lfs -text
thirdparty/** filter=lfs diff=lfs merge=lfs -text
ndll/**/* filter=lfs diff=lfs merge=lfs -text
thirdparty/* filter=lfs diff=lfs merge=lfs -text
ndll/** filter=lfs diff=lfs merge=lfs -text
thirdparty/include/** !text -filter -merge -diff
**/*.so filter=lfs diff=lfs merge=lfs -text
. !text !filter !merge !diff
thirdparty/lib/* !text !filter !merge !diff
