# Auto detect text files and perform LF normalization
* text=auto
thirdparty/**/* filter=lfs diff=lfs merge=lfs -text
lib/** filter=lfs diff=lfs merge=lfs -text
thirdparty/** filter=lfs diff=lfs merge=lfs -text
